<script setup>
const props = defineProps({
  name: String,
});
</script>
<template>
  <svg
    v-if="name === 'create'"
    version="1.1"
    id="Capa_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 489.8 489.8"
    style="enable-background: new 0 0 489.8 489.8"
    xml:space="preserve"
    width="16px"
    height="16px"
  >
    <g>
      <g>
        <path
          fill="#fff"
          d="M438.2,0H51.6C23.1,0,0,23.2,0,51.6v386.6c0,28.5,23.2,51.6,51.6,51.6h386.6c28.5,0,51.6-23.2,51.6-51.6V51.6
			C489.8,23.2,466.6,0,438.2,0z M465.3,438.2c0,14.9-12.2,27.1-27.1,27.1H51.6c-14.9,0-27.1-12.2-27.1-27.1V51.6
			c0-14.9,12.2-27.1,27.1-27.1h386.6c14.9,0,27.1,12.2,27.1,27.1V438.2z"
        />
        <path
          fill="#fff"
          d="M337.4,232.7h-80.3v-80.3c0-6.8-5.5-12.3-12.3-12.3s-12.3,5.5-12.3,12.3v80.3h-80.3c-6.8,0-12.3,5.5-12.3,12.2
			c0,6.8,5.5,12.3,12.3,12.3h80.3v80.3c0,6.8,5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3v-80.3h80.3c6.8,0,12.3-5.5,12.3-12.3
			C349.7,238.1,344.2,232.7,337.4,232.7z"
        />
      </g>
    </g>
  </svg>
  <svg
    v-if="name === 'delete'"
    fill="#000"
    version="1.1"
    id="Capa_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 348.333 348.334"
    style="enable-background: new 0 0 348.333 348.334"
    xml:space="preserve"
    width="16px"
    height="16px"
  >
    <g>
      <path
        fill="#000"
        d="M336.559,68.611L231.016,174.165l105.543,105.549c15.699,15.705,15.699,41.145,0,56.85
		c-7.844,7.844-18.128,11.769-28.407,11.769c-10.296,0-20.581-3.919-28.419-11.769L174.167,231.003L68.609,336.563
		c-7.843,7.844-18.128,11.769-28.416,11.769c-10.285,0-20.563-3.919-28.413-11.769c-15.699-15.698-15.699-41.139,0-56.85
		l105.54-105.549L11.774,68.611c-15.699-15.699-15.699-41.145,0-56.844c15.696-15.687,41.127-15.687,56.829,0l105.563,105.554
		L279.721,11.767c15.705-15.687,41.139-15.687,56.832,0C352.258,27.466,352.258,52.912,336.559,68.611z"
      />
    </g>
  </svg>
  <svg
    v-if="name === 'done'"
    fill="#406602"
    width="16px"
    height="16px"
    viewBox="0 0 24 24"
    id="d9090658-f907-4d85-8bc1-743b70378e93"
    data-name="Livello 1"
    xmlns="http://www.w3.org/2000/svg"
  >
    <title>prime</title>
    <path
      fill="#000"
      id="70fa6808-131f-4233-9c3a-fc089fd0c1c4"
      data-name="done circle"
      d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0ZM11.52,17L6,12.79l1.83-2.37L11.14,13l4.51-5.08,2.24,2Z"
    />
  </svg>
</template>
