<template>
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>

<script></script>
<style>
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: linear-gradient(115.67deg, #edc1d3 7.14%, #91bdec 99.42%);
}
</style>
