<template>
  <form class="max-w-md m-auto">
    <div class="mb-6">
      <slot name="id"></slot>
    </div>
    <div class="mb-6">
      <slot name="title"></slot>
    </div>
    <div class="mb-6">
      <slot name="createDate"></slot>
    </div>
    <div class="mb-6">
      <slot name="isCompleted"></slot>
    </div>
    <slot name="btnSumitForm"></slot>
  </form>
</template>

<style>
#form {
  max-width: 500px;
  margin: auto;
}
</style>
