<script setup lang="ts">
const props = defineProps({
  id: String,
  labelText: String,
  name: String,
  modelValue: String,
  isDisabled: Boolean,
  inputType: String,
});

defineEmits(['update:modelValue']);
</script>

<template>
  <label :for="id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ labelText }}</label>
  <input
    :type="inputType ? inputType : 'text'"
    :id="id"
    autocomplete="off"
    :disabled="props.isDisabled"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    placeholder=""
    :name="props.name"
    :value="modelValue"
    @change="$emit('update:modelValue')"
  />
</template>
