<script setup lang="ts">
import Icon from './icons/Icons.vue';

const router = useRouter();
const props = defineProps({
  colums: Array,
  dataRows: {
    type: Array<any>,
    require: true,
  },
});
const emit = defineEmits(['deleteRow']);
const deleteRow = (id: string) => {
  emit('deleteRow', id);
};
const editTask = (id: string) => {
  router.push(`todo/update/${id}`);
};
</script>

<template>
  <div class="list">
    <TransitionGroup name="list" tag="ul">
      <li v-for="item in dataRows" :key="item?.id">
        <div class="task-wrapper">
          <div class="title">
            <span class="underline cursor-pointer" @click="editTask(item.id)">{{ item.title }}</span>
          </div>
          <div class="remove" @click="deleteRow(item.id)">
            <Icon name="delete" @click="deleteRow(item.id)" />
          </div>
        </div>
      </li>
    </TransitionGroup>
  </div>
</template>

<style scoped>
.list {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.task-wrapper {
  border-bottom: 1px solid rgb(2, 1, 1);
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 0.5rem;
}

.remove {
  margin: auto 0;
  padding: 0.5rem;
  cursor: pointer;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(100vh);
}

.list-leave-active {
  position: absolute;
}
</style>
