<script setup lang="ts">
import { computed, reactive, ref, watch } from 'vue';

const props = defineProps({
  id: String,
  title: String,
  createDate: String,
  isCompleted: Boolean,
});

const emit = defineEmits(['submitForm']);

const formdata = reactive<any>({
  id: '',
  title: '',
  createDate: '',
  isCompleted: false,
});
const btnLoading = ref(false);

const disabledButton = computed(() => formdata.title === '' && formdata.createDate === '');
const isEditForm = computed(() => props.title && props.createDate);

const submitForm = (event: any) => {
  event.preventDefault();
  btnLoading.value = true;
  emit('submitForm', formdata);
};

watch(
  () => props.id,
  (id, prevId) => {
    formdata.id = id;
  },
);
watch(
  () => props.title,
  (title, prevTitle) => {
    formdata.title = title;
  },
);
watch(
  () => props.createDate,
  (createDate, prevCreateDate) => {
    formdata.createDate = createDate;
  },
);
watch(
  () => props.isCompleted,
  (isCompleted, prevIsCompleted) => {
    formdata.isCompleted = isCompleted;
  },
);
</script>

<template>
  <Form>
    <template #id>
      <TextField v-if="isEditForm" id="id" input-label="Id" v-model="formdata.id" name="id" :is-disabled="true" />
    </template>
    <template #title>
      <TextField id="title" label-text="Title" v-model="formdata.title" name="title" />
    </template>
    <template #createDate>
      <TextField
        id="createDate"
        label-text="Create Date"
        v-model="formdata.createDate"
        name="createDate"
        input-type="date"
      />
    </template>
    <template #isCompleted>
      <div class="flex flex-row">
        <CheckBox label-text="Is Completed" v-model="formdata.isCompleted" name="isCompleted" input-type="checkbox" />
      </div>
    </template>
    <template #btnSumitForm>
      <button
        @click="submitForm"
        type="submit"
        :disabled="disabledButton"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        <div v-if="btnLoading" role="status">
          <div class="loader"></div>
          <span class="sr-only">Loading...</span>
        </div>
        <span v-if="!btnLoading">Submit</span>
      </button>
    </template>
  </Form>
</template>

<style>
#form {
  max-width: 500px;
  margin: auto;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>
