<script setup lang="ts">
import { useTodoStore } from '~~/stores/todo';

const router = useRouter();
const task = ref({
  id: '',
  title: '',
  createDate: '',
  isCompleted: false,
});

const { updateTaskAction, getTaskById } = useTodoStore();

const clicked = (data: any) => {
  updateTaskAction(data.id, {
    ...data,
  }).then(() => {
    router.push('/todo');
  });
};

onMounted(() => {
  getTaskById(String(router.currentRoute.value.params.id)).then((res) => {
    task.value = res;
  });
});
</script>

<template>
  <div class="about">
    <div>
      <TodoForm
        @submitForm="clicked"
        :id="task.id"
        :title="task.title"
        :createDate="task.createDate"
        :isCompleted="task.isCompleted"
      />
    </div>
  </div>
</template>

<style></style>
