<template>
  <div id="todo-wrapper">
    <button>
      <RouterLink to="/todo" id="btn-home">Home</RouterLink>
    </button>
    <slot></slot>
  </div>
</template>

<script>
// const isHomePage = computed(() => router.currentRoute.value.path === '/todo')
</script>

<style>
#todo-wrapper {
  min-width: 1024px;
  max-width: 1280px;
  min-height: 500px;
  padding: 2rem;
  font-weight: normal;
  background: #ffffff;
  box-shadow: 0px 4px 40px #8ca4d8;
  border-radius: 30px;
  margin: auto;
}

@media (max-width: 1024px) {
  #todo-wrapper {
    max-width: unset;
    max-height: unset;
  }
}
</style>