<template>
  <div class="relative h-10">
    <input id="test" name="test" class="outline-none h-10 text-xs" />
    <label for="test" class="absolute left-0">TEST</label>
  </div>
</template>

<script setup lang="ts">
useHead({
  titleTemplate: 'Home',
});
</script>

<style></style>
