<script setup lang="ts">
import { useTodoStore } from '~~/stores/todo';

const router = useRouter();
const { addNewTaskAction } = useTodoStore();

const submitCreateTask = async (data: any) => {
  const res = await addNewTaskAction(data);
  if (res) {
    router.push('/todo');
  }
};
</script>

<template>
  <div class="about">
    <div>
      <TodoForm @submitForm="submitCreateTask" />
    </div>
  </div>
</template>

<style></style>
