<script setup lang="ts">
import { useTodoStore } from '~~/stores/todo';
const router = useRouter();
const { $state, fetchListTaksAction, removeTaskByIdAction } = useTodoStore();
const defineColumn = [
  {
    label: 'ID',
    maxWidth: '16',
  },
  {
    label: 'title',
  },
  {
    label: 'create date',
    maxWidth: '32',
  },
  {
    label: 'is completed',
  },
];

onMounted(() => {
  fetchListTaksAction();
});

const createTask = () => {
  router.push('todo/create');
};

const deleteRows = (taskId: string) => {
  removeTaskByIdAction(taskId);
};
</script>

<template>
  <main>
    <div class="flex justify-end">
      <button @click="createTask" id="btn-create">
        <div class="flex m-auto w-1/2">
          <i class="mr-2 my-auto"> <Icons name="create" /> </i>Create
        </div>
      </button>
    </div>
    <div>
      <TodoList :colums="defineColumn" :data-rows="$state.todoList" @deleteRow="deleteRows" />
    </div>
  </main>
</template>

<style>
#btn-create {
  background-color: rgba(136, 76, 178, 1);
  width: 120px;
  height: 34px;
  color: white;
}
</style>
